
body {
	box-sizing: border-box;
	width: 260px;
	line-height: 1.25em;
	font-family: monospace;
	font-size: 20px;
}

.title {
	margin-top: 25px;
}
.title-em {
	font-size: 80%;
	vertical-align: text-top;
	padding-left: 12px;
}

.settings img {
	position: absolute;
	top: 1em;
	right: 1em;
	float: right;
}
.sub-title {
	border: 2px solid blue;
	padding: 0.15rem;
}
.digi {
	color: rgb(0, 0, 0);
	font: bold 24px MS Sans Serif;
}
.label-txt {
	font-weight: bold;
	color: #e20000;
	font-style: italic;
	text-anchor: start;
	text-decoration: underline;
	text-decoration-color: #e20000;
	text-decoration-style: wavy;
	-webkit-text-underline-position: under;
	-ms-text-underline-position: below;
	text-underline-position: under;
	padding-bottom: 10px;
}

.question {
	font-size: initial;
	line-height: .75rem;
	padding: 0;
}

.time-options {
	border: 1px solid black;
}
.time-options a {
	display: inline-flex;
	font-weight: normal;
	color: blue;
	display: inline-block;
}

.time-options span {
	cursor: default;
	pointer-events: none;
}

.time-options a:hover,
.time-options a:visited {
	color: coral;
}



.btn-buy {
	border: 1px solid #000000;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 14px;
	margin-top: 15px;
	margin-left: 60px;
	width: 100px;
	background: hsl(16, 100%, 66%);
}
.btn-buy:hover {
}
.btn-buy-list {
	border: 1px solid #000000;
	border-radius: 0 3px 3px 0;
	font-size: 12px;
	font-weight: bold;
	padding: 6px 10px;
	margin-left: -10px;
	position: relative;
}
.btn-buy-list:hover {
	background: hsl(16, 100%, 66%);
}
.btn-buy:active,
.btn-buy:focus,
.btn-buy-list:active,
.btn-buy-list:focus {
	outline: none;
	background: hsl(16, 100%, 90%);
}
.btn-arrow {
	width: 0;
	height: 0;
	border-top: 5px solid black;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	position: relative;
  top: 10px;
}


.dropdown-menu {
  z-index: 1000;
	display: none;
  max-width: 90px;
  margin: auto 0 0 100px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 3px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  position: relative;
}
.dropdown-menu a {
	text-decoration: none;
}
.dropdown-menu a li {
	/* background-color: #222; */
	font-size: 12px;
	font-family: arial,sans-serif;
	color: #222;
}
.dropdown-menu a li:hover {
	background-color: #bae2fc;
}
