body {
	border: 2px solid #e20000;
	box-sizing: border-box;
	width: 260px;
	max-height: max-content;
	line-height: 1.25em;
	font-family: monospace;
	font-size: 20px;
}

.title {
	margin-top: 25px;
}
.title-em {
	font-size: 80%;
	vertical-align: text-top;
	padding-left: 12px;
}

.settings img {
	position: absolute;
	top: 1em;
	right: 1em;
	float: right;
}
.sub-title {
	border: 2px solid blue;
	padding: 0.15rem;
}
.digi {
	color: rgb(0, 0, 0);
	font: bold 24px MS Sans Serif;
}
.label-txt {
	font-weight: bold;
	color: #e20000;
	font-style: italic;
	text-anchor: start;
	text-decoration: underline;
	text-decoration-color: #e20000;
	text-decoration-style: wavy;
	-webkit-text-underline-position: under;
	-ms-text-underline-position: below;
	text-underline-position: under;
	padding-bottom: 10px;
}

.question {
	font-size: initial;
	line-height: 0.75rem;
	padding: 0;
}

.time-options {
	border: 2px solid blue;
	padding: 0.15rem;

}
.time-options a {
	display: inline-flex;
	font-weight: normal;
	color: #e20000;
	display: inline-block;
}

.time-options span {
	cursor: default;
	pointer-events: none;
}

.time-options a:hover {
	color: blue;
}

/* dropdown menu */
.dropdown {
	margin: 10px 0;
	background: white;
	width: 200px;
	height: 30px;
	box-shadow: 6px 6px blue;

	line-height: 30px;
	user-select: none;
	display: inline-block;
	font-size: 1em;
	font-family: monospace;
	position: relative;
	left: 10px;
}

.dropdown:hover {
	cursor: pointer;
	background-color: #999;
}

.dropdown_value {
	display: inline-block;
	padding-left: 5px;
}

.dropdown_arrow {
	position: absolute;
	right: 5px;
	top: 0px;
}

.dropdown_panel {
	position: absolute;
	background: transparent;
	width: calc(100% + 10px);
	z-index: 99999;
	height: 200px;
	left: -1px;
	top: 28px;
	overflow: hidden;
	pointer-events: none;
}

.dropdown_items {
	position: absolute;
	pointer-events: all;
	top: 0px;
	width: calc(100% - 11px);
	max-height: 170px;
	background-color: white;
	box-shadow: 2px 2px 2px #999;
	overflow-y: auto;
	border: 1px solid #aaa;
	transform: translate(0px, -200px);
	transition: 0.3s all ease-out;
}

.dropdown_item {
	padding: 1px;
	font-size: 20px;
}

.dropdown_item:hover {
	background: #eee;
	cursor: pointer;
}

.dropdown ::-webkit-scrollbar {
	width: 10px;
}

.dropdown ::-webkit-scrollbar-thumb {
	background: blue;
}